NEXT_PUBLIC_SUPABASE_URL=https://wejwvwzlfyuxcgircsef.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_2wa8g9GnTpBAB2ymvbBNRw_Noh9XoAN
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indland2d3psZnl1eGNnaXJjc2VmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk4MjgwOSwiZXhwIjoyMDkyNTU4ODA5fQ.MFhOn1salLPZcwwz0n6bSyDozYpV4dwepDNp7NO5Gjc
